<div class="random-name-container">
    <div class="random-name-controls">
        <label for="name-style">Name Style:</label>
        <select id="name-style">
            <!-- Populated by JS -->
        </select>

        <div class="name-type-options">
            <label><input type="checkbox" id="first-name-checkbox" checked> First Name</label>
            <label><input type="checkbox" id="last-name-checkbox" checked> Last Name</label>
        </div>

        <button id="generate-name-button">Generate Name</button>
    </div>

    <div id="name-result" class="name-result"></div>

    <div id="name-history" class="name-history">
        <h3>Name History</h3>
        <ul id="name-history-list">
            <!-- Name history will be dynamically added here -->
        </ul>
    </div>
</div>
