<div class="wheel-of-names-container">
    <div class="name-inputs">
        <input type="text" id="name-input" placeholder="Enter a name" />
        <input type="number" id="occurrence-input" placeholder="Occurrence count" min="1" value="1" />
        <button id="add-name-button" class="control-btn">Add Name</button>
    </div>
    <div class="name-list">
        <!-- Names will be displayed here -->
    </div>
    <div class="controls">
        <input type="number" id="spins-input" placeholder="Number of Spins" min="1" value="1" />
        <button id="spin-button" class="spin-button">Spin</button>
        <button id="reset-button" class="reset-button">Reset</button>
    </div>
    <div class="wheel-display">
        <div class="scroll-area">
            <!-- Animated names will be displayed here -->
        </div>
    </div>
    <div class="result-history">
        <h3>Result History</h3>
        <ul id="result-history-list">
            <!-- Results will be displayed here -->
        </ul>
    </div>
</div>
