.bestiary-container {
    padding: 20px;
}

.bestiary-header {
    text-align: center;
}

#cr-select {
    margin-bottom: 10px;
}

#cr-list, #creature-folder-list {
    list-style-type: none;
    padding: 0;
}

    #cr-list li, #creature-folder-list li {
        cursor: pointer;
        padding: 5px;
        border: 1px solid var(--blue-border);
        border-radius: 4px;
        margin-bottom: 5px;
        background-color: var(--section-color);
    }

        #cr-list li:hover, #creature-folder-list li:hover {
            background-color: var(--blue-border);
            color: #fff;
        }

.creature-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--blue-border);
    border-radius: 8px;
    background-color: var(--section-color);
}

.creature-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.creature-info {
    flex-grow: 1;
}
