.bestiary-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.bestiary-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#cr-select, #load-creatures-btn, #reset-cr-btn, #reset-creature-btn {
    margin-top: 10px;
}

ul#creature-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

    ul#creature-list li {
        cursor: pointer;
        padding: 5px;
        border: 1px solid var(--blue-border);
        border-radius: 4px;
        margin-bottom: 5px;
        background-color: var(--section-color);
        color: #e0e0e0;
        text-align: center;
    }

        ul#creature-list li:hover {
            background-color: var(--red-accent);
        }

.creature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creature-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.creature-info {
    text-align: left;
    width: 100%;
}
