.FactionManager-step {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}
.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-page {
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
    background-color: #f9f9f9;
}

.card-table {
    width: 100%;
    border-collapse: collapse;
}

    .card-table th, .card-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .card-table th {
        background-color: #f2f2f2;
    }