.file-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.file-carousel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    position: relative;
}

.carousel-nav-btn {
    background-color: var(--blue-border);
    border: none;
    color: #e0e0e0;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    height: 100%;
    width: 40px;
    box-sizing: border-box;
}

.file-display {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-color);
}

.file-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.control-btn {
    background-color: var(--red-accent);
    border: none;
    color: #e0e0e0;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
}

input[type="file"] {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid var(--blue-border);
    padding: 10px;
    border-radius: 4px;
    flex-grow: 2;
}
