#stopwatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--blue-border);
    border-radius: 12px;
    background-color: var(--section-color);
    color: #e0e0e0;
    width: max-content;
    z-index: 1000; /* Ensure it stays on top of other elements */
    position: absolute; /* Position absolute for dragging */
    top: 20px;
    left: 20px;
}

.move-handle {
    background-color: var(--blue-border);
    color: #fff;
    padding: 5px;
    cursor: move;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--section-color);
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

#stopwatch-display {
    font-size: 36px;
    margin-bottom: 10px;
}

#stopwatch-controls button {
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid var(--blue-border);
    border-radius: 6px;
    background-color: var(--red-accent);
    color: #e0e0e0;
    cursor: pointer;
}

    #stopwatch-controls button:hover {
        background-color: #d93636;
    }
